name: Run tests

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4.2.2
    - name: Setup Java JDK
      uses: actions/setup-java@v4.7.0
      with:
        distribution: 'zulu'
        java-version-file: .java-version
    - name: Set up Gradle
      uses: gradle/actions/setup-gradle@v4.3.0
      with:
        cache-encryption-key: ${{ secrets.GRADLE_ENCRYPTION_KEY }}
    - name: Build with Gradle
      run: ./gradlew testDebugUnitTest
